# Server Config
PORT=50051
NODE_ENV=development

# Database Connection
DATABASE_URL=postgresql://postgres:password@localhost:5432/avap_db

# Security (The Lock)
# Esta clave debe coincidir con la del Language Server
AVAP_INTERNAL_KEY=change_me_to_a_secure_random_string_2026